@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

:root {
    --primary-color: #90ccea;
    --secundary-color: #bfc6c0;
    --tertiary-color: #b8f34b;
    --primary-color-darker: #940c0c;
}

/*variável Global*/
* {
    box-sizing: border-box;
    outline: 0;

}

body {

    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Open sans', sans-serif;
    font-size: 1.0em;
    line-height: 1.2em;
}    
     
.container {
    max-width: 650px;
    margin: 100px auto;
    /*distância do topo e parte de baixo automatatica*/
    /*conteúdo no meio da página */
    background: linear-gradient(315deg, rgba(2, 0, 36, 1) 0%, rgba(143, 66, 230, 1) 19%, rgba(0, 0, 0, 1) 35%, rgba(0, 212, 255, 1) 100%);
    
    padding: 20px;
    border-radius: 10px;
    border: none;

    /*arredondando os cantos*/
     
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    font-family: sans-serif;

    
}

 form input { 
    font-size: 18px;
    height: 50px;
    padding: 0 20px;
    border-radius: 10px ;
}

form input:focus {
    /*mudar a cor da borda outline*/
    outline: 2px solid var(--tertiary-color);

}
button:hover{
    background-color:white;
}

form button {
    background: var(--tertiary-color);
    /*colocar fundo*/
    /* color: #000000; */
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
}

form button:active {
    background: #60e187;

}

.paragrafo-resultado,
.bad {
    background: #92ec81;

    padding: 10px 20px;
      
}

.bad {
    margin-top: 35px;
    border-radius: 10px;
    background: #c75454;
     
}